$header-font: 'Oswald';
$body-font: 'Montserrat';

$primary: #C49A0F;
$primary-light: #F2D577;

$container-width: 1268px;
$page-height: 100vh;

// Frame Theme
$red: #E9524A;
$yellow: #F1AE1B;
$green: #59C837;

@mixin bg-gradient() {
  background: rgb(41, 41, 41);
  background: radial-gradient(circle, rgba(41, 41, 41, 1) 0%, rgba(29, 29, 29, 1) 100%);
}

@mixin gradient2 {
  background: rgb(56, 56, 56);
  background: radial-gradient(circle, rgba(56, 56, 56, 1) 0%, rgba(48, 48, 48, 1) 100%);
}

@mixin boxshadow {
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.05);
}

@mixin boxshadow2 {
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.1);
}

@mixin transition($property: all, $duration: 0.25s) {
  transition: $property $duration cubic-bezier(0.33, 1, 0.68, 1);
}

@mixin panel {
  @include gradient2;
  @include boxshadow;
  width: 100%;
  margin: 15px;
  padding: 30px;
  border-radius: 9px;
}
